[submodule "ecohub-frontend"]
	path = ecohub-frontend
	url = https://github.com/mythigen/ecohub-frontend
[submodule "ecohub-backend"]
	path = ecohub-backend
	url = git@github.com:mythigen/ecohub-backend.git
