[submodule "ecohub-frontend"]
	path = ecohub-frontend
	url = git@github.com:mythigen/ecohub-frontend.git
[submodule "ecohub-backend"]
	path = ecohub-backend
	url = git@github.com:mythigen/ecohub-backend.git
[submodule "ecohub-ai"]
	path = ecohub-ai
	url = git@github.com:mythigen/ecohub-ai.git
[submodule "ecohub-mobile"]
	path = ecohub-mobile
	url = git@github.com:abdelhafidHadjadj/ecohub-mobile
